* {
margin: 0em;
padding: 0em;
}

main, nav, header, footer, article, aside, section { display: block; }
time, mark { display: inline; }

body {
font-family: Arial;
font-size: 100%;
color: black;
background-color: #ededed;
margin: 1em;
}

#topPanel {
border-bottom: solid 4px #ccc;
}

#leftRightWrapper {
display: table;
table-layout: fixed;
border-top: solid 2px #aaa;
}

#leftPanel {
display: table-cell;
width: 24.5%;
border-right: solid 4px #ccc;
/*padding: 0em 1em;*/
}

#leftPanelTab {
border: solid 3px #86B918;
margin: 0 1em 0 0;
padding: 1em 2em;
height: auto;
min-height: 260px;
}

#rightPanel {
display: table-cell;
width: 75%;
padding-left: 1em;
border-left: 2px solid #aaa;
}

#pageTabs {
margin-top: -2.4em;
border-bottom: 3px solid #aaa;
}

.edWrapper {
position: relative;
left: 0px;
top: 0px;
width: auto;
height: auto;
border: 3px solid #86B918;
margin: 1em 2em;
min-height: 200px;
}

.menul {
list-style-type: none;
}

.menul li {
list-style-type: none;
display: inline;
}

.toolbar {
background-color: #86B918;
border: 3px solid #86B918;
}

button[data-action] { 
width: 26px;
height: 26px;
background-size: contain;
background-repeat: no-repeat;
text-indent: -99999px; 
}
button[data-action=preview] { background-image: URL('../images/24px/preview.png'); }
button[data-action=copy] { background-image: URL('../images/24px/copy.png'); }
button[data-action=cut] { background-image: URL('../images/24px/cut.png'); }
button[data-action=paste] { background-image: URL('../images/24px/paste.png'); }
button[data-action=save] { background-image: URL('../images/24px/save.png'); }
button[data-action=undo] { background-image: URL('../images/24px/undo.png'); }
button[data-action=redo] { background-image: URL('../images/24px/redo.png'); }
button[data-action=bold] { background-image: URL('../images/24px/bold.png'); }
button[data-action=italic] { background-image: URL('../images/24px/italic.png'); }
button[data-action=strikethrough] { background-image: URL('../images/24px/strikethrough.png'); }
button[data-action=abbreviation] { background-image: URL('../images/24px/abbreviation.png'); }
button[data-action=link] { background-image: URL('../images/24px/link.png'); }
button[data-action=icon] { background-image: URL('../images/24px/icon.png'); }
button[data-action=illustration] { background-image: URL('../images/24px/illustration.png'); }
button[data-action=table] { background-image: URL('../images/24px/table.png'); }
button[data-action=box] { background-image: URL('../images/24px/box.png'); }

.dialogBox {
   position:fixed;
   top:33%;
   left:25%;
   z-index:200;
   width: auto;
   height: auto;
   min-height:200px;
   background-color:#fff;
   padding: 1em;
   border: 3px solid #86B918;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
opacity: 0.7;
} 

.contextmenu {
   width: auto;
   height: auto;
min-width: 150px;
   background-color:#fff;
   padding: 1em;
   border: 3px solid #86B918;
z-index: 222;
}

.contextmenu .checkmark {
position: relative;
left: -0.65em;
}

a, a:link {
color: blue;
text-decoration: underline;
}

a:visited {
color: purple;
}

a.button, .menul a {
display: inline-block;
text-decoration: none;
padding: 0.1em 1em 0.1em .5em;
border-top: 3px solid #86B918;
border-left: 3px solid #86B918;
border-right: 3px solid #86B918;
border-top-left-radius: .3em;
border-top-right-radius: .9em;
margin: .75em 0em 0em 0em;
}

a:focus, a:hover {
text-decoration: underline;
background-color: #86B918;
color: #eee;						
border-top: 3px solid #436200;
border-left: 3px solid #436200;
border-right: 3px solid #436200;*/
}

a:active {
background-color: #002;
color: #fed;
border-left: 2px solid #24a;
border-top: 2px solid #24a;
border-bottom: 2px solid #000;
border-right: 2px solid #000;
}

.buttonGroup {
margin-right: 2em;
border-radius: 0.4em;
}

label {
margin-top: .25em;
}

button {
background-color: #86B918;
color: black;
border: 3px solid #86B918;
vertical-align: bottom;
}

input, select, textarea{
background-color: #eee;
color: black;
border: 3px solid #86B918;
vertical-align: bottom;
margin-top: .25em;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number] {
min-width: 12em;
}

input:hover, input:focus, input:active, select:hover, select:focus, select:active, textarea:hover, textarea:focus, textarea:active, button:hover, button:focus, button:active, div:focus, span:focus {
background-color: #eee;
color: black;
border: 3px solid #436200;
}

input[aria-invalid=true], select[aria-invalid=true], textarea[aria-invalid=true] {
border: 3px solid orange;
}

label, button, input[type=submit], input[type=reset], input[type=button], *[tabindex] { cursor: pointer }

p>label, p>input[type=hidden]+label { 
display: inline-block;
min-width: 23em;
text-align: right;
vertical-align: top;
margin-right:  1em;
}

p>button, p>input[type=checkbox], p>input[type=radio], p>input[type=submit], p>input[type=reset], p>input[type=button]  { margin-left: 23em; }
p>input+button, p>input+input[type=submit], p>input+input[type=reset], p>input+input[type=button], p>input+input[type=radio], p>input+input[type=checkbox] { margin-left: 3px; margin-left: initial; }

form.dialogBox label {
min-width: 16em;
text-align: right;
vertical-align: top;
margin: 1em 1em 0 0;
}

form.dialogBox button {
width: auto;
vertical-align: bottom;
margin: 2em 1em 0 0;
} 

.hidden {
  position: absolute;
  top: -2px;
  left: auto;
  width: 1px;
  height: 1px;
  overflow:hidden;
}

#rightPanel > h1{
clear: right;
text-align: right;
font-size: 100%;
}

