RewriteEngine On
RewriteRule ^([a-zA-Z_0-9]+)/?$ index.php?controller=$1 [QSA,L]
RewriteRule ^([a-zA-Z_0-9]+)/([a-zA-Z_0-9]+)/?$ index.php?controller=$1&action=$2 [QSA,L]
RewriteRule ^([a-zA-Z_0-9]+)/([-a-zA-Z_0-9]+)/([a-zA-Z_0-9]+)(?:/(.+))?/?$ index.php?controller=$1&action=$3&param=$2&param2=$4 [QSA,L]
